<div class="col-sm-4 col-xs-6">
  <div class="img-album">
      <a href="./photos/{{id}}"><img src="{{image}}" alt=""></a>
        <div class="">
          Creator:
          <span id="creator"> {{creator}}</span>
        </div>
        <div class="">
          Views:
          <span id="views"> {{views}}</span>
        </div>
    </div>
</div>
