<div class="container top">
  <a class="logo" href="/">
    MyBlog
    <span class="me">.me</span>
  </a>
</div>
<div class="navbar1 navbar-default">
  <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed"
  data-toggle="collapse"
  data-target="#home-navbar"
  aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
  <div class="collapse navbar-collapse blog-card-2" id="home-navbar">
    <ul class="nav navbar-nav">
      <li class=""><a href="/" class="glyphicon glyphicon-home"></a></li>
      <li class="{{home}}"><a href="/">Home</a></li>
      <li class="{{album}}"><a href="/albums">Albums</a></li>
      <li class="{{blog}}"><a href="/blog">Blog</a></li>
      <li class="{{about}}"><a href="/about">About</a></li>
    </ul>
  </div>
</div>
