{{#each images}}
<div class="col-sm-6 col-xs-6">
  <div class="img-photo" style="margin-bottom: 30px;">
        <a href="{{name}}"><img src="{{name}}" alt=""></a>
        <div class="">
          Creator:
          <span id="creator"> {{creator}}</span>
        </div>
        <div class="">
          Views:
          <span id="views"> {{views}}</span>
        </div>
  </div>
</div>
{{/each}}
